@use '../vars.scss' as *;

[role=video] {

    > div {
        position: relative;
        padding-bottom: 420px;
        height: 0;
        overflow: hidden;
        max-width: 720px;
        max-height: 420px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
